<h3 class="display-6">Informacion del usuario</h3>
<div class="contenedor-de-informacion">
  <div class="contenido-arriba">
    <div class="nombre">
      <label for="">Nombre:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.nombre"/>
    </div>
    <div class="apellidos">
      <label for="">Apellidos:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.apellidos"/>
    </div>
    <div class="notas">
      <label for="">Notas:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.notas"/>
    </div>
  </div>
  <div class="contenido-medio">
    <div class="telefono">
      <label for="">Telefono:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.telefono"/>
    </div>
    <div class="direccion">
      <label for="">Direccion:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.direccion"/>
    </div>
    <div class="codigo_postal">
      <label for="">Cod postal:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.codigo_postal"/>
    </div>
  </div>
  <div class="contenido-abajo">
    <div class="poblacion">
      <label for="">Poblacion:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.poblacion"/>
    </div>
    <div class="provincia">
      <label for="">Provincia:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.provincia"/>
    </div>
    <div class="profesion">
      <label for="">Profesion:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.profesion"/>
    </div>
  </div>
  <div class="email">
    <label for="">Email:</label>
      <input type="text" [(ngModel)]="usuariodelpadreendatos_apoyo.email"/>
  </div>
</div>
