<h3 class="display-6">Informacion del usuario</h3>
<div class="contenedor-de-informacion">
  <div class="contenido-arriba">
    <div class="nombre">
      <label for="" (click)="prueba()">Nombre:</label>
      <input type="text" value="{{usuariodelpadre.nombre}}" readonly />
    </div>
    <div class="apellidos">
      <label for="">Apellidos:</label>
      <input type="text" value="{{usuariodelpadre.apellidos}}" readonly />
    </div>
    <div class="notas">
      <label for="">Notas:</label>
      <input type="text" value="{{usuariodelpadre.notas}}" readonly />
    </div>
  </div>
  <div class="contenido-medio">
    <div class="telefono">
      <label for="">Telefono:</label>
      <input type="text" value="{{usuariodelpadre.telefono}}" readonly />
    </div>
    <div class="direccion">
      <label for="">Direccion:</label>
      <input type="text" value="{{usuariodelpadre.direccion}}" readonly />
    </div>
    <div class="codigo_postal">
      <label for="">Cod postal:</label>
      <input type="text" value="{{usuariodelpadre.codigo_postal}}" readonly />
    </div>
  </div>
  <div class="contenido-abajo">
    <div class="poblacion">
      <label for="">Poblacion:</label>
      <input type="text" value="{{usuariodelpadre.poblacion}}" readonly />
    </div>
    <div class="provincia">
      <label for="">Provincia:</label>
      <input type="text" value="{{usuariodelpadre.provincia}}" readonly />
    </div>
    <div class="profesion">
      <label for="">Profesion:</label>
      <input type="text" value="{{usuariodelpadre.profesion}}" readonly />
    </div>
  </div>
  <div class="email">
    <label for="">Email:</label>
      <input type="text" value="{{usuariodelpadre.email}}" readonly />
  </div>
</div>
