<div class="contenedor-principal">
  <div class="contenedor-cabecera">
    <app-cabecera></app-cabecera>
  </div>
  <div class="contenedor-medio">
    <div class="division-izquierda">
      <div class="contenedor-buscador">
        <div class="input-group btn-sm mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            aria-label="Buscar..."
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary sm"
            type="button"
            id="button-addon2"
          >
            Buscar
          </button>
        </div>
      </div>
      <div class="contenedor-listado">
        <app-listado
          [usuariosdelpadreenlistado]="datos"
          [usuarios_para_mandar]="datos"
          (usuarioseleccionado_apoyo)="rescatarposicion($event)"
        ></app-listado>
      </div>
      <div class="contenedor-botonera">
        <app-botonera (salidaboton)="valor_boton($event)"></app-botonera>
      </div>
    </div>
    <div class="contenedor-datos">
      <app-contenido-datos
        [usuariodelpadreendatos]="usuariosele"
        [usuariodelpadreendatos_apoyo]="usuariosele_apoyo"
      ></app-contenido-datos>
    </div>
    <div class="contenedor-mapa">
      {{usuariosele|json}}
      {{usuariosele_apoyo|json}}
    </div>
  </div>
</div>
