<div class="contenedor-principal">
  <div class="contenedor-cabecera">
    <app-cabecera></app-cabecera>
  </div>
  <div class="contenedor-medio">
    <div class="division-izquierda">
      <div class="contenedor-buscador">
        <div class="input-group btn-sm mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            aria-label="Buscar..."
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary sm"
            type="button"
            id="button-addon2"
          >
            Buscar
          </button>
        </div>
      </div>
      <div class="contenedor-listado">
        <app-listado [usuariosdelpadreenlistado]="datos"  (usuarioseleccionado)="seleccionausuario($event)"></app-listado>
      </div>
      <div class="contenedor-botonera">
        <app-botonera (salidaboton)="valor_boton($event)"></app-botonera>
      </div>
    </div>
    <div class="contenedor-datos">
      <app-contenido-datos [usuariodelpadreendatos]="usuariosele"></app-contenido-datos>
    </div>
    <div class="contenedor-mapa">
      <app-mapa></app-mapa>
    </div>
  </div>
</div>
